<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/datiscuola">
        <p>Inserisci il nome di una scuola: </p>
        <input type="text" name = 'DenominazioneScuola'><br>
        <p><input type="submit" value="Visualizza"></p>
    </form>
    <form action="/datipercorso">
        <p>Inserisci un percorso: </p>
        {% for percorso in percorsi %}
        <input type="radio" name="percorsi" value={{percorso}}>
        <label for='percorsi'>{{percorso}}</label><br>
        {%endfor%}
        <p><input type="submit" value="Visualizza"></p>
    </form>

    <a href="/grafico"><p>grafico studenti per tipologia di percorso</p></a>
</body>
</html>